.App {
  font-family: "Kanit", sans-serif;
  font-size: 62.5%;
  
  min-height: 100vh;
  margin-bottom: 7rem;
}
.App .logo {
  height: 3rem;
  width: max-content;
}
.defaultMessage {
  margin: 0.5rem;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #001f3f;
}
.App a {
  text-decoration: none;
}
.App button {
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline: none;
}
.App h1 {
  font-size: 3rem;
  letter-spacing: 0.1rem;
  padding: 0.5rem;
  border-bottom: 1px dashed #d3d3d3;
}
.App h2 {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  padding: 0.5rem;
}
.App header {
  color: #eaecee;
  background-color: #001f3f;
}
.App ul {
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

.App nav {
  height: 4rem;
  position: fixed;
  bottom: 0;
  color: white;
  width: 100%;
  background-color: #001f3f;
  border-top: 1px dashed #d3d3d3;
  display: flex;
  align-items: center;
}
.App nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 1rem;
}
.App nav li {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
nav ul li a {
  color: #007fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
nav ul li a > span {
  font-size: 0.8rem;
}
.active-link span {
  display: none;
}

.nav-link .icon svg {
  transition: transform 0.3s ease;
  transform: scale(1);
}

.active-link .icon svg {
  transform: scale(1.6) translateY(-1rem);
  filter: url(#svg-shadow);
}

.App input {
  background-color: white;
  width: 100%;
  height: 2.5rem;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  padding-left: 1rem;
  box-sizing: border-box;
  color: black;
}
.App input[type="number"] {
  width: 50%;
}
.App select {
  width: 50px;
  box-sizing: border-box;
  background-color: white;
  height: 2.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: dimgray;
}

.selectedMealWindow {
  transition: opacity 0.3s ease, max-height 0.3s ease;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}
.selectedMealWindow.visible {
  opacity: 1;
  max-height: 1000px;
}
.mealListHeader {
  margin-block-start: 0.5rem;
}
.listMeals {
  margin-inline-start: 0.5rem;
  margin-inline-end: 0.5rem;
  font-size: 1rem;
  border: 1px solid #001f3f;
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: white;
  margin-bottom: 1rem;
  box-shadow: 4px 4px 10px -6px black;
}
.listMeals {
  transition: all 0.3s ease-out;
}

.listMeals p {
  font-weight: 700;
  letter-spacing: 0.2rem;
  margin-block-end: 0.5rem;
}
.listMeals ul li {
  padding-bottom: 0.2rem;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}
.greyedOut {
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
.greyedOut button {
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
  pointer-events: auto;
  border-radius: 0.5rem;
  background-color: #0066cc;
  padding: 0.5rem;
  height: 2.5rem;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  color: #ffffff;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

.ingredientItem {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.stockFormContainer {
  transition: opacity 0.3s ease, max-height 0.3s ease; /* transition over 300ms */
  opacity: 0; /* default to invisible */
  max-height: 0; /* default to no height */
  overflow: hidden; /* hide overflow */
}
.stockFormContainer.visible {
  opacity: 1; /* make it fully visible */
  max-height: 1000px; /* adjust as per your form's maximum possible height */
}
.stockHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-inline-end: 0.5rem;
  margin-block-start: 0.5rem;
  
}
.stockHeader .stockToggle {
  border-radius: 0.5rem;
  background-color: #0066cc;
  padding: 0.5rem;
  height: 2.5rem;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  color: #ffffff;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

.stockForm {
  margin: 1rem;

}
.stockForm div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  flex-wrap: nowrap;
  gap: 2rem;
  
}
.stockForm input[type="number"] {
  margin: 0;
  flex-basis: 30%;
}

.stockForm button {
  flex-basis: 30%;
  border-radius: 0.5rem;
  background-color: #0066cc;
  padding: 0.5rem;
  height: 2.5rem;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  color: #ffffff;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

.stockItemsList {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 0.5rem;
  margin-inline-start: 0.5rem;
  margin-inline-end: 0.5rem;
  background-color: white;

  margin-inline-start: 0.5rem;
  margin-inline-end: 0.5rem;
  font-size: 1rem;
  border: 1px solid #001f3f;
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: white;
  margin-bottom: 1rem;
  box-shadow: 4px 4px 10px -6px black;
}

.itemDetails {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  
  
}

.itemName {
  flex-grow: 1;
}

.quantity,
.unit {
  display: inline-flex;
  width: 50px;
}

.quantity {
  justify-content: flex-end;
  padding-right: 0.5rem;
}

.unit {
  justify-content: flex-start;
  margin-right: 0.3rem;
}

.itemActions {
  display: flex;
}

.faIcon {
  color: #0066cc;
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.recipeFormContainer {
  transition: opacity 0.3s ease, max-height 0.3s ease; 
  opacity: 0;
  max-height: 0; 
  overflow: hidden; 
}
.recipeFormContainer.visible {
  opacity: 1;
  max-height: 1000px; 
}
.recipesHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-inline-end: 0.5rem;
  margin-block-start: 0.5rem;
}
.recipesHeader .recipesToggle {
  border-radius: 0.5rem;
  background-color: #0066cc;
  padding: 0.5rem;
  height: 2.5rem;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  color: #ffffff;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}
.recipeForm {
  margin: 1rem;
  
}
.recipeForm div {
  display: flex;
  flex-direction: column;
}

.recipeForm input {
  width: 100%;
}
.recipeForm .quantityDiv {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
}
.recipeForm .quantityDiv > * {
  flex-basis: 30%;
}
.recipeForm .quantityDiv select {
  flex-basis: 0;
}
.recipeForm button {
  border-radius: 0.5rem;
  background-color: #0066cc;
  padding: 0.5rem;
  height: 2.5rem;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  color: #ffffff;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}
.recipeForm .reseptiNapit {
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
}
.recipeForm textarea {
  box-sizing: border-box;
  border-radius: 0.5rem;
  margin-top: 1rem;
  height: 100px;
  resize: none;
  width: 100%;
}

.recipeList {
  margin-inline-start: 0.5rem;
  margin-inline-end: 0.5rem;
  font-size: 1rem;
  border: 1px solid #001f3f;
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: white;
  margin-bottom: 1rem;
  box-shadow: 4px 4px 10px -6px black;
  position: relative; /* Added to position the buttons at the bottom */
}

.recipeList p {
  font-weight: 700;
  letter-spacing: 0.2rem;
}

.recipeList ul li {
  padding-bottom: 0.2rem;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

.ingredientItem {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.recipeActions {
  margin-top: 0.5rem;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  /* Positioning 10px from the right of .recipeList */
}

.selectedMealWindow h2 {
  padding: 0;
  margin-bottom: 1rem;
}
.selectedMealWindow p {
  font-weight: 400;
  letter-spacing: normal;
  margin-bottom: 1rem;
}
.selectedMealWindow ul li {
  font-size: 1rem;
  letter-spacing: 0.1rem;
}
.selectedMealWindow button {
  border-radius: 0.5rem;
  background-color: #0066cc;
  padding: 0.5rem;
  height: 2.5rem;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  color: #ffffff;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
  margin-block-end: 0.5rem;
}
.shoppingList h2 {
  margin-block-start: 0.5rem;
}
.shoppingList ul {
  margin-inline-start: 0.5rem;
  margin-inline-end: 0.5rem;
  font-size: 1rem;
  border: 1px solid #001f3f;
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: white;
  margin-bottom: 1rem;
  box-shadow: 4px 4px 10px -6px black;
}
.shoppingList li {
  margin-block-end: 0.3rem;
}
.strikethrough {
  text-decoration: line-through;
}
.tyhjaLista {
  margin-inline-start: 0.5rem;
  font-size: 1rem;
}
.shoppingList button {
  margin-inline-start: 0.5rem;
  border-radius: 0.5rem;
  background-color: #0066cc;
  padding: 0.5rem;
  height: 2.5rem;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  color: #ffffff;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}
